@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--transparent);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
:root {
  --background: #fcfdfc;
  --foreground: #d0d8eb;
  --accent: #f088ab;
  --accent-shadow: #ce6588;
  --border: #161b67;
  --transparent: #161b6700;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow: 0 1px 3px 0px 323765;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --letter-spacing: -0.15em;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--transparent);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    user-select: none;
    cursor: none !important;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    cursor: none;
  }
}

*{
  user-select: none;
	scrollbar-color: var(--border) var(--transparent);
  scrollbar-track-color: var(--foreground);
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* text stuff */

.main-text {
  letter-spacing: var(--letter-spacing);
  color: var(--border);
  font-size: 14px;
}

.accent-text {
  letter-spacing: var(--letter-spacing);
  color: var(--accent);
  font-size: 11px;
}

.text-spacing {
  letter-spacing: var(--letter-spacing);
}

.alt-text{
  letter-spacing: var(--letter-spacing);
  color: var(--border);
  opacity: 50%;
  font-size: 11px;
}

/* ui additions */

.dome{
  width: 100px;
  height: 100px;
  border-radius: 0 0 100px 100px; 
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 21px 21px 1fr 21px;
}

hr {
  border: none;
  border-top: 2px dashed var(--border);
}


/* pixel card */

.pixel-card {
  box-shadow: 
    5px 0px 0px 0px var(--border),
    0px 3px 0px 0px var(--border),
    5px 3px 0px 0px var(--border);
}

.pixel-btn {
  background: var(--border);
  color: var(--foreground);
  padding: 2px 8px;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;
  box-shadow: 
    inset -2px -2px 0px 0px var(--border),
    inset 2px 2px 0px 0px var(--foreground),
    0px 1px 0px 0px var(--border);
  transition: all 0.05s ease;
}

.pixel-btn:hover {
  background: var(--accent);
  color: var(--background);
  box-shadow: 
    inset -2px -2px 0px 0px var(--accent-shadow),
    inset 2px 2px 0px 0px var(--background),
    0px 1px 0px 0px var(--accent-shadow);
}

.pixel-btn:active {
  transform: translateY(2px);
}

.pixel-btn-sm {
  background: var(--border);
  color: var(--foreground);
  padding: 1px 5px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;
  box-shadow: 
    inset -1px -1px 0px 0px var(--border),
    inset 1px 1px 0px 0px var(--foreground),
    0px 1px 0px 0px var(--border);
  transition: all 0.05s ease;
}

.pixel-btn-sm:hover {
  background: var(--accent);
  box-shadow: 
    inset -1px -1px 0px 0px var(--accent-shadow),
    inset 1px 1px 0px 0px var(--foreground),
    0px 1px 0px 0px var(--accent-shadow);
  
}

.pixel-btn-sm:active {
  background: #c0608a;
  box-shadow: 
    inset 1px 1px 0px 0px #903060,
    inset -1px -1px 0px 0px #f088ab;
  transform: translateY(1px);
}

/* simple pixel button (border color) */

.pixel-btn-border{
  background: var(--border);
  color: var(--foreground);
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 0 .25rem;
}

.pixel-btn-border:disabled{
  opacity: 0.5;
}

.pixel-btn-border:hover{
  background: var(--accent);
  color: var(--background);
}

.pixel-btn-border-sm{
  background: var(--border);
  color: var(--foreground);
  justify-content: center;
  align-items: center;
  font-size: 5px;
  padding: .25rem .25rem;
}

.pixel-btn-border-sm:disabled{
  opacity: 0.5;
}

.pixel-btn-border-sm:hover{
  background: var(--accent);
  color: var(--background);
}

/* simple pixel button (white to blue color) */

.pixel-btn-white{
  background: var(--background);
  color: var(--border);
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 0 .5rem;
}

.pixel-btn-white-nohover{
  background: var(--background);
  color: var(--border);
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 0 .5rem;
}

.pixel-btn-white:disabled{
  opacity: 0.5;
}

.pixel-btn-white:hover{
  background: var(--border);
  color: var(--foreground);
}

.pixel-btn-white-sm{
  background: var(--background);
  color: var(--border);
  justify-content: center;
  align-items: center;
  font-size: 5px;
  padding: 1px 1px;
}

.pixel-btn-white-sm-nohover{
  background: var(--background);
  color: var(--border);
  justify-content: center;
  align-items: center;
  font-size: 5px;
  padding: 1px 1px;
}

.pixel-btn-white-sm:hover{
  background: var(--border);
  color: var(--foreground);
}

/* simple pixel button (white to pink color) */

.pixel-btn-remove{
  background: var(--background);
  color: var(--accent);
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 0 .5rem;
}

.pixel-btn-remove:disabled{
  opacity: 0.5;
}

.pixel-btn-remove:hover{
  background: var(--accent);
  color: var(--background);
}

.pixel-btn-remove-sm{
  background: var(--background);
  color: var(--accent);
  justify-content: center;
  align-items: center;
  font-size: 8px;
  padding: 0 0.2rem;
  font-weight: bolder;
}

.pixel-btn-remove-sm:disabled{
  opacity: 0.5;
}

.pixel-btn-remove-sm:hover{
  background: var(--accent);
  color: var(--background);
}

/* simple input (white bg) */

.pixel-input{
  margin: .25rem 0;
  padding: 0 .5rem;
  font-size: 12px;
  background: var(--background);
  color: var(--border);
  outline: none;
}

.pixel-input:disabled{
  opacity: 0.5;
}

::placeholder{
  opacity: 0.5;
}

/* grid */

.grid-container {
    display: grid; /* Makes the container a grid container */
    grid-template-columns: 1fr auto; 
    gap: 3px; /* Adds space between the columns */
    align-items: center; /* Vertically centers the elements */
}



input, textarea, select {
  outline: none !important;
  box-shadow: none !important;
  --tw-ring-shadow: none !important;
  --tw-ring-offset-shadow: none !important;
}

input:focus, input:active, input:focus-visible,
textarea:focus, textarea:active, textarea:focus-visible,
select:focus, select:active, select:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  --tw-ring-shadow: none !important;
  --tw-ring-offset-shadow: none !important;
  border-color: inherit !important;
}

/* cursor stuff */

.cursor-loading {
  cursor: url('/loading.gif'), wait;
}
