@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  font-size: clamp(0.875rem, 0.75rem + 0.5vw, 1.25rem);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--transparent);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
}
:root {
  /*SIZING VARIABLES*/
  --card-main-width: 21.875rem;
  --card-main-min-height: 14.8rem;

  /* SPACING VARIABLES*/
  --spacing-xs: 0.125rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem; 
  --spacing-lg: 1rem;

  /*BORDER VARIABLES*/
  --border-width: 0.125rem;

  /*TEXT VARIABLES*/
  --text-btn: 0.75rem;
  --text-accent: 0.5625rem;

  /*ICON VARIABLES*/
  --size-icon-social: 1.125rem;

  /* PROGRESS BAR */
  --size-progress-bar: 0.9375rem;

  --background: #fcfdfc;
  --foreground: #d0d8eb;
  --accent: #f088ab;
  --accent-shadow: #ce6588;
  --border: #161b67;
  --transparent: #161b6700;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow: 0 1px 3px 0px 323765;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --letter-spacing: -0.15em;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--transparent);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    user-select: none;
    cursor: none !important;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    cursor: none;
  }
}

*{
  user-select: none;
	scrollbar-color: var(--border) var(--transparent);
  scrollbar-track-color: var(--foreground);
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* text stuff */

.main-text {
  letter-spacing: var(--letter-spacing);
  color: var(--border);
  font-size: 0.875rem;
}

.accent-text {
  letter-spacing: var(--letter-spacing);
  color: var(--accent);
  font-size: 0.6875rem;
}

.text-spacing {
  letter-spacing: var(--letter-spacing);
}

.alt-text{
  letter-spacing: var(--letter-spacing);
  color: var(--border);
  opacity: 50%;
  font-size: 0.6875rem;
}

/* ui additions */

.dome{
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0 0 6.25rem 6.25rem; 
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.3125rem 1.3125rem 1fr 1.3125rem;
}

hr {
  border: none;
  border-top: 0.125rem dashed var(--border);
}


/* pixel card */

.pixel-card {
  box-shadow: 
    0.3125rem 0 0 0 var(--border),
    0 0.1875rem 0 0 var(--border),
    0.3125rem 0.1875rem 0 0 var(--border);
}

.pixel-btn {
  background: var(--border);
  color: var(--foreground);
  padding: 0.125rem 0.5rem;
  font-size: var(--text-btn);
  border: none;
  cursor: pointer;
  image-rendering: pixelated;
  box-shadow: 
    inset -0.125rem -0.125rem 0px 0px var(--border),
    inset 0.125rem 0.125rem 0px 0px var(--foreground),
    0px 0.0625rem 0px 0px var(--border);
  transition: all 0.05s ease;
}

.pixel-btn:hover {
  background: var(--accent);
  color: var(--background);
  box-shadow: 
    inset -0.125rem -0.125rem 0px 0px var(--accent-shadow),
    inset 0.125rem 0.125rem 0px 0px var(--background),
    0px 0.0625rem 0px 0px var(--accent-shadow);
}

.pixel-btn:active {
  transform: translateY(0.125rem);
}

.pixel-btn-sm {
  background: var(--border);
  color: var(--foreground);
  padding: 0.0625rem 0.3125rem;
  font-size: var(--text-btn);
  border: none;
  cursor: pointer;
  image-rendering: pixelated;
  box-shadow: 
    inset -0.0625rem -0.0625rem 0px 0px var(--border),
    inset 0.0625rem 0.0625rem 0px 0px var(--foreground),
    0px 0.0625rem 0px 0px var(--border);
  transition: all 0.05s ease;
}

.pixel-btn-sm:hover {
  background: var(--accent);
  box-shadow: 
    inset -0.0625rem -0.0625rem 0px 0px var(--accent-shadow),
    inset 0.0625rem 0.0625rem 0px 0px var(--foreground),
    0px 0.0625rem 0px 0px var(--accent-shadow);
  
}

.pixel-btn-sm:active {
  background: #c0608a;
  box-shadow: 
    inset 0.0625rem 0.0625rem 0px 0px #903060,
    inset -0.0625rem -0.0625rem 0px 0px #f088ab;
  transform: translateY(0.0625rem);
}

/* simple pixel button (border color) */

.pixel-btn-border{
  background: var(--border);
  color: var(--foreground);
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  padding: 0 0.25rem;
}

.pixel-btn-border:disabled{
  opacity: 0.5;
}

.pixel-btn-border:hover{
  background: var(--accent);
  color: var(--background);
}

.pixel-btn-border-sm{
  background: var(--border);
  color: var(--foreground);
  justify-content: center;
  align-items: center;
  font-size: 0.3125rem;
  padding: 0.25rem 0.25rem;
}

.pixel-btn-border-sm:disabled{
  opacity: 0.5;
}

.pixel-btn-border-sm:hover{
  background: var(--accent);
  color: var(--background);
}

/* simple pixel button (white to blue color) */

.pixel-btn-white{
  background: var(--background);
  color: var(--border);
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  padding: 0 0.5rem;
}

.pixel-btn-white-nohover{
  background: var(--background);
  color: var(--border);
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  padding: 0 0.5rem;
}

.pixel-btn-white:disabled{
  opacity: 0.5;
}

.pixel-btn-white:hover{
  background: var(--border);
  color: var(--foreground);
}

.pixel-btn-white-sm{
  background: var(--background);
  color: var(--border);
  justify-content: center;
  align-items: center;
  font-size: 0.3125rem;
  padding: 0.0625rem 0.0625rem;
}

.pixel-btn-white-sm-nohover{
  background: var(--background);
  color: var(--border);
  justify-content: center;
  align-items: center;
  font-size: 0.3125rem;
  padding: 0.0625rem 0.0625rem;
}

.pixel-btn-white-sm:hover{
  background: var(--border);
  color: var(--foreground);
}

/* simple pixel button (white to pink color) */

.pixel-btn-remove{
  background: var(--background);
  color: var(--accent);
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  padding: 0 0.5rem;
}

.pixel-btn-remove:disabled{
  opacity: 0.5;
}

.pixel-btn-remove:hover{
  background: var(--accent);
  color: var(--background);
}

.pixel-btn-remove-sm{
  background: var(--background);
  color: var(--accent);
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  padding: 0 0.125rem;
  font-weight: bolder;
}

.pixel-btn-remove-sm:disabled{
  opacity: 0.5;
}

.pixel-btn-remove-sm:hover{
  background: var(--accent);
  color: var(--background);
}

/* simple input (white bg) */

.pixel-input{
  margin: 0.25rem 0;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  background: var(--background);
  color: var(--border);
  outline: none;
}

.pixel-input:disabled{
  opacity: 0.5;
}

::placeholder{
  opacity: 0.5;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto; 
    gap: 0.1875rem;
    align-items: center;
}



input, textarea, select {
  outline: none !important;
  box-shadow: none !important;
  --tw-ring-shadow: none !important;
  --tw-ring-offset-shadow: none !important;
}

input:focus, input:active, input:focus-visible,
textarea:focus, textarea:active, textarea:focus-visible,
select:focus, select:active, select:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  --tw-ring-shadow: none !important;
  --tw-ring-offset-shadow: none !important;
  border-color: inherit !important;
}

/* cursor stuff */

.cursor-loading {
  cursor: url('/loading.gif'), wait;
}


.item1 {
  /* This item will span two columns */
  grid-column: span 2;
}